<% @shelters.each do |shelter| %>
  <% shelter.pets.each do |pet| %>
    <img src="<%= pet.image %>" alt="<%= pet.name %>">
    <h2><%= pet.name %></h2>
    <p>
      <%= pet.age %>
      <%= pet.sex %>
      <%= shelter.name %>

    </p>
    <%= link_to 'Edit', "/pets/#{pet.id}/edit" %>
    <%= link_to 'Delete', "/pets/#{pet.id}", method: :delete %>
  <% end %>
<% end %>
