<img src="<%= @pet.image %>" alt="<%= @pet.name %>">
<h2><%= @pet.name %></h2>
<p>
  <%= @pet.description %>
  <%= @pet.age %>
  <%= @pet.sex %>
  <%= @pet.adoption_status %>
</p>

<%= link_to 'Update Pet', "/pets/#{@pet.id}/edit" %>
